:host{
  display: block;
  padding: 20px 12px;
}

.logo-small {
  width: 100px;
  height: auto;
}

.main-menu-list{
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.main-menu-item{
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  width: 100%;
  text-align: left;
  border-radius: 2px;

  &:hover,
  &focus-visible{
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .main-menu-item svg{
      color: var(--primary-color)
    }
  }
}

.main-menu-item svg{
  width: 16px;
  height: 16px;
}

.raccoon-logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--light-color);
  cursor: pointer;
  padding: 6px 12px;

  .raccoon {
    display: inline-block;
    transition: transform 0.6s ease;
  }

  &:hover .raccoon {
    transform: rotate(20deg) translateX(4px);
  }

  &:active .raccoon {
    animation: disappear 0.6s forwards;
  }

  &:hover {
    color: var(--primary-color);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) rotate(-90deg) translateX(20px);
  }
}
