@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/node_modules/@fontsource/inter/greek-400.css') format('woff2'),
         url('/node_modules/@fontsource/inter/greek-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/node_modules/@fontsource/inter/greek-500.css') format('woff2'),
         url('/node_modules/@fontsource/inter/greek-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/node_modules/@fontsource/inter/greek-700.css') format('woff2'),
         url('/node_modules/@fontsource/inter/greek-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/node_modules/@fontsource/inter/greek-900.css') format('woff2'),
         url('/node_modules/@fontsource/inter/greek-900.woff') format('woff');  
    font-weight: 800;
    font-style: normal;
    
}